services:
  backend:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./views:/app/views:z
    restart: always
    networks:
      - private

  caddy:
    image: caddy:2.10-alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:z
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - public
      - private

volumes:
  caddy_data:
  caddy_config:

networks:
  public:
    driver: bridge
  private:
    driver: bridge
