services:
  backend:
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      - ENVIRONMENT=dev
      - REDIS_URL=redis://redis:6379
    volumes:
      - ./views:/app/views:z
    restart: always
    networks:
      - private

  redis:
    image: redis:7-alpine
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    networks:
      - private

  caddy:
    image: caddy:2.10-alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:z
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - public
      - private
    depends_on:
      - backend

volumes:
  redis_data:
  caddy_data:
  caddy_config:

networks:
  public:
    driver: bridge
  private:
    driver: bridge
