name: Lint

on:
  push:
    branches:
      - "dev"
      - "main"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up uv
        uses: astral-sh/setup-uv@v1

      - name: Lint with Ruff
        run: uvx ruff check