name: Lint

on:
  push:
    branches:
    - "main"
    - "master"
    - "dev"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Golang CI - Lint
        uses: golangci/golangci-lint-action@v9.0.0