[project]
name = "fastapi-template"
version = "0.1.0"
description = ""
requires-python = ">=3.14"
dependencies = [
    "fastapi>=0.121.1",
    "gunicorn>=23.0.0",
    "prometheus-client>=0.23.1",
    "pydantic>=2.12.4",
    "pydantic-settings>=2.12.0",
    "uvicorn>=0.38.0",
]
